# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env
.env.example

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/

# Build artifacts
*.egg-info/

#db.sqlite3
*.db