<!DOCTYPE html>
<html>
<head>
    <title>EduShield</title>
</head>
<body>
    <h1>EduShield – Offline Phishing Detection</h1>

    <h2>Analyze Suspicious Email</h2>

    <form action="/analyze" method="post" enctype="multipart/form-data">
        <textarea name="email_content" rows="10" cols="70" placeholder="Paste suspicious email content here"></textarea>
        <br><br>

        <label>Or upload .eml file (optional)</label>
        <input type="file" name="email_file" accept=".eml">
        <br><br>

        <button type="submit">Analyze Email</button>
    </form>
</body>
</html>